body {
    font-family: Arial, sans-serif;
    background-image: url('assets/jellybean-bg.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Kanit", sans-serif;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: .5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.counter-container {
    position: fixed;
    top: 0;
    right: 0; /* Adjust this value as needed */
    padding: 10px;
    background-color: white; /* Optional: to ensure readability */
    border: 1px solid #ccc; /* Optional: add a border */
    z-index: 1000; /* Ensure it stays above other content */
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#jellybean-counter {
    font-family: "Kanit", sans-serif;
    font-size: 1.8em;
    margin-top: 10px;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(7, 2, 58, 0.671);
    margin: 10px;
    border-radius: 5px;
}

.category h3 {
    margin: 0 0 10px 0;
    font-size: 1.1em;
}

.squares-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.category .square {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgba(181, 122, 190, 0.46); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.square.selected {
    background-image: url('assets/red-bean.png')
}

footer {
    text-align: center;
    margin: 20px 0;
    font-size: small;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.jellybean-counter-low {
  color: red;
}
